body {
  background-image: url('./photos/1567799.jpg');
}

.cbackground {
  /* background: linear-gradient(90deg, rgb(214, 215, 215), rgb(176, 199, 222)); */
  border-radius: 3rem;
  box-shadow: rgb(118, 122, 128) 0px 20px 30px -10px;
  backdrop-filter: blur(10px) brightness(30%);

}
.white-text {
  color: whitesmoke;
}

.nwidth {
  width: 100%;
}

.navwidth {
  width: 100%;
}

.icon-size {
  font-size: 80px;
  color:black;
}

.text {
  font-size: 50px;
  color: black;
}

.big-text {
  font-size: 150px;

}

.black {
  /* background-color: black; */
  backdrop-filter: blur(10px);
}

.name-width {
  width: 50%;
}

.hidden {
  display: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.input-width {
  width: 50%
}

.width-75 {
  width: 75%
}

.width-70 {
  width: 70%
}

.width-100 {
  width: 100%;
  height: 100%
}

.back-btn {
  font-size: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}
